<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.mataejoon.restsql</string>
        <key>ProgramArguments</key>
        <array>
                <string>/Users/matan/ETNA/restcpp/MyRestSql</string>        
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/Users/matan/ETNA/restcpp/log/stderr.log</string>
        <key>StandardOutPath</key>
        <string>/Users/matan/ETNA/restcpp/log/stdout.log</string>
</dict>
</plist>