#!/bin/sh
### BEGIN INIT INFO
# Provides:          MyRestSql
# Required-Start:    
# Required-Stop:     
# Default-Start:     2
# Default-Stop:      
# Short-Description: Start MyRestSql
# Description:       MyRestSql ETNA's project
### END INIT INFO

name=MyRestSql
exec=/usr/local/bin/MyRestSql
STDOUT_LOG=/var/log/restsql/stdout.log
STDERR_LOG=/var/log/restsql/stderr.log

start() {
    echo 'Starting Service'
    $exec --daemonize 1>> $STDOUT_LOG 2>> $STDERR_LOG
}

status() {
   ps aux | grep $name | grep -v grep
}

stop() {
    pkill $name
}

case "$1" in
    start|stop)
	$1
	;;
    restart|reload|force-reload)
	stop
	start
	;;
     status)
    	$1  
        ;;
    *)
	echo 'Usage : $0 {status|start|stop|restart|reload|force-reload}'
	;;
esac

exit 0
